
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');


/* */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Main Sections */

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box{
    text-align: center;
    

}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #769FA3;
}

body {
    background-color: white;
    font-family: "Roboto+Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #769FA3;
}

.msg {
    background-color: white;
    padding: 35px;
    line-height: 1.5em;
}

footer {
    background-color: white;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}


 /* Titles*/
.home-title {
    color: #CF6921;
    font-family: "Halant", serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #CF6921;
}

.msg h2 {
    color: #CF6921;
    font-family: "Halant", serif;
}

.h2 {
    margin: 0;
}

/*Text*/
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer p {
    font-size: 1.2em;
}    
     

/*Images and Icons*/
.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo {
    width: 80px;
}

footer .social img {
     padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #769FA3;
}
main section img {
    box-sizing: border-box;
}

/* Links */
#logo_link {
    padding-top: 5px;
}
nav a {
    text-align: center;
    color: #662D0E;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #B07440;
    text-decoration: underline;
}

footer a {
    color: #662D0E;
    text-decoration: none
}

footer a:hover {
    color: #B07440;
    text-decoration: underline;
}

.book, .join {
    color: #662D0E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #769FA3;
}
.book:hover, .join:hover {
    color: #B07440;
    text-decoration: underline;
}