@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&display=swap');


/* Header */
header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.logo {
    grid-column: 1/2;
    width: 80px;
 }

#logo_link {
      justify-self: center;
}

nav {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;

}

nav a {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #2e988c;
    text-decoration: none;
}


nav a:hover {
    color: #146466;
    text-decoration: underline;
}


.hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -80px; 
    
}

.hero-img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-text {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
    text-align: center;
}


/* footer */
footer {
    background-color: #2e988c;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: Outfit, Helvetica, sans-serif;
    padding: 20px;
}

footer a{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:#072f3c;
}
#foot-logo{
    grid-column: 1/2;
    grid-row: 1/2;

}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

#topbutton{
    grid-column: 3/4;
    grid-row: 1/2;
}

#foottext{
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
    
}

/* Home */

main {
    font-family: Outfit, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.home-title {
    font-family:"DM+Serif", serif;
    font-size: 100px;
    text-align: center;
}
h4 {
    font-family: Outfit, Helvetica, sans-serif;
    font-size: 25px;
}

.contact-button {
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 5px;
}

.contact-button:hover {
    color: #072f3c;
    background-color: white;
}

#home1 {
    display: block;
    text-align: right;
    float: left;
    width: 40%;
    padding: 0 5%;
   
}
h5 {
    font-size: 15px;
}

h2 {
    font-size: 40px;
}

.big-text{
    font-size: 20px;
}

.home1img {
    width: 40%;
    float: left;
}
#home-services {
    clear: both;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
#home-services div{
    padding: 5px;
}
#home-services h2{
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    border-top: 1px solid #072f3c;
    padding-top: 20px;
}
.service-box1{ 
    grid-area: 2 / 1 / 3 / 2;
}
.service-box2{
    grid-area: 2 / 2 / 3 / 3;
}
.service-box3{
    grid-area: 2 / 3 / 3 / 4;
}
.service-box4{
    grid-area: 3 / 1 / 4 / 2;
}
.service-box5{
    grid-area: 3 / 2 / 4 / 3;
}
.service-box6{
    grid-area: 3 / 3 / 4 / 4;
}

.icon {
    width: 50px;
    height: 50px;
}

h3 {
    font-size: 20px;
}

#banner-clients {
    background-color: #146466;
    clear: both;
    width: 100%;
    padding: 10px;
    margin: 0;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

#banner-clients h2, #banner-clients p {
    grid-column: 1/2;
    text-align: left;
    margin-left: 10px;
}

.button-box {
    padding: 10px;
    grid-area: 1/2/3/3;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }

#home-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    
}
#home-clients h2{
    text-align: center;
    grid-area: 1/1/2/7;
}

#home-clients img{
    width:100px;
    height: 100px;
    display: block;
    margin: 10px;
   

}

#home-clients a{
    background-color: #146466;
    margin: auto;
    padding: 10px;
    height: 120px;
    width: 120px;
}


.client-link1 {
    grid-column: 1/2;
  }
.client-link2 {
    grid-column: 2/3;
}
.client-link3 {
    grid-column: 3/4;
}
.client-link4 {
    grid-column: 4/5;
}
.client-link5 {
    grid-column: 5/6;
}
.client-link6 {
    grid-column: 6/7;
}

/* Subpages */
.page-title{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 250px;
    color: white;
    text-align: center;
}
/* Website Page */
#website{
    display: grid;
    /* grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 50% 1fr; */
}

#website img{
    /* display: absolute; */
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
}

#website-box {
    /* width: 100%; */
    height: 100%;
    /* box-shadow: 5px 5px 10px #6f7364; */
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: white;
    margin-right: 90px;
}

#website-box-text {
    margin-top: auto;
    margin-bottom: auto;   
    font-size: 30px;
    text-align: right;
    /* padding: 20px; */
}

#portfolio{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

#portfolio h2{
    grid-area: 1/1/2/7;
}
.port-box{
    grid-row: 2/3;
    
    background-color: whitesmoke;

    text-align: center;
    
}
.port-box:hover{
    background-color: white; 
}

.port-box img{
    justify-self: center;
    width:100px;
    height: 100px;
    margin: 10px;
    
}

.port-box a{
    color:#072f3c;
    font-family: Outfit, Helvetica, sans-serif;
    font-size: 25px;
}

.port-box a:hover{
    color: #146466;
}

#great-things-section{
    text-align: center;
    margin-bottom: 30px;
}
#great-things{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.great-things-box img{
    width: 40px;
        /* height: ; */
}

.great-things-text{
    font-size: 15px;
}


/* About Page */
#aboutme {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#about-text {
    grid-column: 2/3;
    width: 75%;
    
}

#profile-pic {
    grid-column: 1/2;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#faq{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr 2fr ;
    margin-bottom: 100px;
}
#faq h2{
    text-align: center;
    grid-area: 1/1/3/3;
}

#faq img{
    grid-column: 1/2;
    width: 50px;
    margin: auto;
}

.panel {
    grid-column: 2/3;
}

.accordion {
    background-color: white;
    color: #072f3c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: Outfit, Helvetica, sans-serif;
    font-size: 20px;
  }
  
.active, .accordion:hover {
    background-color: #2e988c;
  }
  .accordion:after {
    content: '\02795';
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  